@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: rgb(114, 129, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.pinimg.com/564x/a0/5e/78/a05e7872dfc0147feb0478a09d1b9c0e.jpg);
    background-repeat: repeat;
    background-size: 25%;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 5px 5px 5px #424242;
    padding: 30px 30px;
    margin: 30px 0;
}

.header-img {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.header-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.contact-infos,
.expertise-infos,
.education-infos,
.language-infos {
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
}

.contact-infos ul,
.expertise-infos ul,
.education-infos ul,
.language-infos ul {
    list-style: none;
    padding: 0;
}

.contact-infos li a {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

.expertise-infos li,
.education-infos li,
.language-infos li {
    font-size: 25px;
}

.contact-infos li i, 
.expertise-infos li i, 
.education-infos li i, 
.language-infos li i {
    margin-right: 5px;
  }


.list-header-info {
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
    letter-spacing: 2px;
}

.header-title {
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 20px;
}

.header-title h1 {
    font-style: normal;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.header-title h2 {
    font-style: italic;
    font-size: 30px;
    font-weight: 10;
    letter-spacing: 1px;
}

.header-title ul {
    list-style: none;
    padding-left: 0;
}

.header-title li {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.body-profile,
.body-education,
.body-work-experience {
    font-size: 20px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    /* padding-top: 0px; */
    
}

.body-profile h3,
.body-education h3,
.body-work-experience h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;

}

.body-education h4,
.body-work-experience h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 5px;
    letter-spacing: 1px;
}

.body-education p,
.body-work-experience p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;

}

.body-education ul,
.body-work-experience ul {
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}

.body-education h5,
.body-work-experience h5 {
    letter-spacing: 1px;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 0;
}